/*
 * @Descripttion: 
 * @Author: yang fu ren
 * @version: 
 * @Date: 2021-03-29 11:33:29
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-06-24 10:18:10
 */
 @import './variables.scss';
 @import './lightStyle/index.scss';
 html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    color: #000;
    font-family: AlibabaPuHuiTiM;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
p{
    margin: 0;
}
a{
    text-decoration:none;
}
.ellipsisLineOne {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}