.title_describe{
    overflow: hidden;
    line-height: 22px;
    margin-bottom: 15px;
    padding-left: 5px;
		.title_text {
			font-size: 16px;
			color: #fff;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      font-family: AlibabaPuHuiTiM;
		}
		.left_flg {
      display: inline-block;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      border: 2px solid #4181e9;
      vertical-align: middle;
      margin-right: 5px;
      transform: rotate(45deg);
      position: relative;
      .left_flg_bg {
        display: inline-block;
        width: 6px;
        height: 6px;
        opacity: 0.4;
        background: #3876e6;
        // border: 2px solid #3876e6;
        border-radius: 100%;
        position: absolute;
        top:2px;
        left:2px;
      }
    }
   }
   .describe_title {
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #222222;
    font-weight: bold;
  }
  .title_box{
    display: flex;
    align-items: center;

    .resetFormSearch{
      flex: 1;
      padding-left: 10px;
      display: flex;
      .el-form-item{
        margin-bottom:0px !important ;
      }
    }
  }
  .title_box {
    height: 32px;
    line-height: 32px;
    margin-bottom: 15px;
		.title_text {
			font-size: 18px;
			color:#fff;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      height: 18px;
      line-height: 18px;
		}
		.title_text:before {
			display: inline-block;
			content: ' ';
			width: 4px;
			vertical-align: -1px;
			height: 16px;
			background: rgba(73, 147, 253, 1);
			box-shadow: 0px 1px 4px 0px rgba(73, 147, 253, 0.4);
			border-radius: 1px;
			margin-right: 12px;
		}
		.title_button {
			float: right;
		}
  }
  .title_boxNew{
      position: relative;
      height: 40px;
    overflow: auto;
    z-index: 1000;
    .item{
      position: absolute;
      right: 0;
    }
    .el-input{
      width: 180px;
      .el-input__icon{
        line-height: 32px;
      }
      .el-input__inner{
        //padding: 0 20px 0 8px;
      }
      .el-icon-circle-close{
        margin-top: 4px;
      }
      .el-input__prefix{
        //left: auto;
        //right: 0;
      }
    }
    .searchbutton{
        .el-icon-search{
          color: #409EFF;
        }
    }
    .searchbutton:hover{
      .el-icon-search{
        color: #fff;
      }
    }
  }